body {
    background-color: #f4f4f4;
    overflow: hidden;
}

#mapa{
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: calc(100% - 52px);
}

#sugestoes {
    list-style: none;
    padding: 0;
    margin-top: 5px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    display: none;
    width: 200px;
    position: absolute;
    background-color: white;
    z-index: 1;
}

#sugestoes li {
    padding: 5px;
    cursor: pointer;
}
  
#sugestoes li:hover {
    background-color: #f0f0f0;
}

.form-control{
    width: 300px;
}
